<form class='dynamic-form' [formGroup]='searchBoxGroup' (submit)='submit()'>
    <div class="row">
        <ng-container *ngFor='let field_row of searchBoxConfig.fields;'>
            <div class="col-3" *ngFor="let field of field_row">
                <div class='form-group'>
                    <label class="form-lbl" for="{{field.name}}">{{ field.label }}</label>
                    <input class="form-control" [type]='field.inputType' [formControlName]='field.name'
                        [ngbTypeahead]="typeaheadObj[field.name]" [editable]='false'
                        (selectItem)="selectedItem($event, field)">
                </div>
            </div>
        </ng-container>
    </div>
    <div class="row">
        <div class="col-3">
            <div class='form-group'>
                <button type="submit" class="btn btn-primary" [disabled]="!searchBoxGroup.valid">
                    Search
                </button>
            </div>
        </div>
    </div>
</form>