<div class="container mt-5">
    <app-search-boxes [searchBoxConfig]="materialConfig.search" (searchCriteria)="searchCriteria($event)">
    </app-search-boxes>
    <hr>
    {{ searchedCriteria | json}}
</div>